.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
}

.itemsFull {
  background: var(--yellow2);
  padding: var(--spacer);
  box-shadow: var(--shadow);
  min-width: 50%;
}

.upperBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 2px inset var(--yellow1);
  padding: 1rem;
  margin-bottom: 2rem;
  background: var(--yellow1);
}

.deleteAllBtn {
  background: var(--yellow2);
  border: 2px inset var(--yellow2);
  padding: .6rem .6rem;
  opacity: .85;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

.deleteAllBtn:hover {
  color: var(--white);
  transition: .3s;
  background: var(--yellow1);
}

.itemList {
  line-height: 2;
  list-style: circle;
}

.item {
  border-bottom: 2px solid var(--yellow1);
  margin-bottom: .5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item label {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid var(--yellow2);
}

.customCheckbox {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid currentColor;
  border-radius: 50%;
  margin-right: .9rem;
  transform: scale(1);
  transition: transform 200ms ease-in;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.item:hover .customCheckbox,
[type="checkbox"]:focus-visible+.customCheckbox {
  transform: scale(1.2);
}

label:hover {
  transition: .3s;
  color: var(--white);
}

[type="checkbox"]:checked+label .customCheckbox {
  background: var(--orange);
  border: var(--orange);
  box-shadow: 0 0 0px 2px;
}

[type="checkbox"]:checked+label {
  opacity: .6;
  text-decoration: line-through;
}

form {
  display: flex;
  align-items: center;
  flex: 1;
}

.newList {
  font-size: 1.8em;
  max-width: 90%;
  padding-left: .5rem;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--yellow2);
  outline: none;
  transition: border-bottom 200ms ease-in;
  order: 2;
  line-height: 2;
  width: 100%;
}

.newList {
  border-color: var(--yellow2);
}

.newList:focus {
  border-bottom-width: 4px;
}

.newList::placeholder,
.editForm input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.newList:focus::placeholder,
.editForm input:focus::placeholder {
  color: white;
  opacity: .5;
  transition: .2s;
}

.activeList {
  font-weight: 700;
}

.activeList:hover {
  opacity: 1;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  font-size: 2.5rem;
  font-weight: 900;
  margin-right: .5rem;
  transition: .3s;
}

.btn:hover {
  filter: invert();
}

.itemBtn {
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  margin-right: .8rem;
  transition: .3s;
}

.itemBtn svg {
  font-size: 2.8rem;
}

.itemBtn:hover {
  filter: invert();
}

.editInput {
  font-size: 1.8em;
  max-width: 90%;
  padding-left: .5rem;
  background: var(--lightYellow);
  line-height: 1.5;
  width: 100%;
  order: 2;
  border-color: var(--yellow2);
}

.editInput:focus {
  outline: 0;
}

.btnBlock {
  display: flex;
  flex-wrap: nowrap;
}

.editForm {
  margin: 0 0 .5rem 0;
}

@media screen and (max-width: 968px) {
  .itemsFull {
    width: 70%;
  }
}

@media screen and (max-width: 569px) {
  .itemsFull {
    width: 90%;
  }

  .item label {
    font-size: 1.65rem;
  }

  .deleteAllBtn {
    font-size: 1.1rem;
    padding: .8rem .2rem;
  }
}