.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.2rem;
  background-color: var(--yellow2);
  box-shadow: var(--shadow);
}

.navLink {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  margin-right: 1.5rem;
  padding: 0 .7rem 0 .7rem;
  border: 2px inset var(--yellow1);
  opacity: .85;
}

.navLink:hover {
  color: var(--white);
  transition: .3s;
  background: var(--yellow1);
}
