:root {
  --orange: #df5917;
  --white: #FFFFFF;
  --yellow2: #F48C06;
  --yellow1: #FAA307;
  --lightYellow: #ffae18;
  --yellowTransparent: #faa507e0;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --spacer: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:  'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
